<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nightwisher.guitartuner"
    android:installLocation="auto">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:fullBackupContent="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GuitarTunerTheme" >
        <activity
            android:name=".GuitarTuner"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TuneSelect"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditTune"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
